<!DOCTYPE html>
<html>
  <head>
    <title>list page</title>
    <link href="../static/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div>
        <img src="http://placehold.it/200x70">
      </div>
      <h1 class="title"><a href="/">Learning Journals</a></h1>
    </header>
    {% block body %}{% endblock %}
  </body>
</html> 